body{
    background:url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR8ux130zLj0Kq8anpCyzcFdHI_JbwRihxvDg&usqp=CAU");
}

.box{
	margin:2% 10%;
}

.card {
    border:1px solid black;
    border-radius:25px 25px;
    height:360px;
    width:280px;
}



.shadow{
	background-color: #FFE5B4;
	margin:0;
	padding:0;
	height:10%;
}

h1{
    font-family: 'Kaushan Script', cursive;

}

.btn{
	margin:2% 34%;
    width:35%;
    border-radius:20%;
    font-family: 'Kaushan Script', cursive;

}

