div h2{
    font-weight: 5%;
}
.first{
    color:black;
}
.back{
background-color:pink;
width:100%;
text-align:center;
padding:3% 7%;
}
 .back-image{
 padding:2%;
 }
.carousel-item{

text-align:center;

}
.center{
  padding: 1% 14% 3%;
  height:86%;
width:100%;
}
body{
background-color:oldlace;
}
.midbg{
background-color:	lightslategray;
}

.UPPERCASE{
TEXT-TRANSFORM:UPPERCASE;
FONT-WEIGHT:BOLD;
COLOR:#333;
TEXT-ALIGN:CENTER;
}
hr{
 border-top: 3px solid rebeccapurple;
 width:70%;
 }
 .container{
 padding:1% 10%;
 }
 .box{
 BORDER:2PX SOLID BROWN;
 BORDER-RADIUS:32PX;
 background-color:mistyrose;
padding:2%;
BOX-SHADOW:6PX 10PX 14PX indigo;
 text-align:center;
 }
.box-image{
BORDER-RADIUS: 32PX;
    height: 175px;
    width: 199px;
    padding: 2% 3%;
    margin: 3px 30px;
}
.MAINTYPE DIV{
COLOR:VIOLET;
FONT-WEIGHT:BOLD;
DISPLAY:BLOCK;
PADDING:15PX;
BORDER-BOTTOM:2PX SOLID lightsteelblue;
WIDTH:200PX;
}
.SUB_TYPE A{
MARGIN-LEFT:20PX;
COLOR:CYAN;
FONT-SIZE:14PX;
}
.MAINTYPE A{
COLOR:teal;
}
.MAINTYPE DIV SPAN{
FLOAT:RIGHT;
FONT-SIZE:12PX;
}
.MAINTYPE DIV A:hover{
COLOR:sandybrown;
TRANSITION:ALL 0.3S EASE-IN-OUT;
}
.imgs{
    width:105%;
}
.hicenter
{
text-align:center;
font-size:23px;
}
.COVER{
DISPLAY:GRID;
    GRID-TEMPLATE-COLUMNS: 61% 4% 36%;
    GRID-TEMPLATE-ROWS: 368PX 342PX;
    GRID-GAP: 36PX 5PX;
    WIDTH: 1021PX;
    height: 340PX;
MARGIN:0 AUTO;
}
.FEATURE{
POSITION:RELATIVE;
}
.FEATURE IMG{
WIDTH:100%;
HEIGHT:100%;
OBJECT-FIT:COVER;
}
.TITLE{
POSITION:ABSOLUTE;
BOTTOM:0;
BACKGROUND-COLOR:GREY;
OPACITY:50%;
WIDTH:100%;
HEIGHT:15%;
}
.TITLE-FEATURE{
POSITION:ABSOLUTE;
FONT-FAMILY:"COOPER BLACK";
LETTER-SPACING:2PX;
BOTTOM:0;
MARGIN:5PX 10PX;
COLOR:mistyrose;
}
.TITLE-FEATURE H1
{
FONT-SIZE:25PX;
}
.TITLE-FEATURE P
{
    FONT-SIZE: 14PX;
    MARGIN: 13PX -6PX;
}
.TITLE-FEATURE A
{
COLOR:ORANGE;
}
.FEATURE .SIZE.IMG{
HEIGHT:100%
WIDTH:50%;
}
.TITLE-FEATURE P SPAN{
MARGIN:9PX 15PX;
BORDER-LEFT:1PX SOLID ORANGE;
}
.FEATURED{
DISPLAY:GRID;
GRID-GAP:20PX 20PX;
WIDTH:1200PX;
MARGIN:0 AUTO;
PADDING:20PX 0PX;
}

.SLIDEBAR DIV > H2{
MARGIN:20PX 0PX;
FONT-SIZE:50PX;
LETTER-SPACING:5PX;
}
.ABOUT IMG{
WIDTH:95%;
MARGIN-BOTTOM:25PX;
}
.ABOUT P{
LINE-HEIGHT:25PX;
TEXT-ALIGN:JUSTIFT;
}
.UPPERCASE{
TEXT-TRANSFORM:UPPERCASE;
FONT-WEIGHT:BOLD;
COLOR:#333;
TEXT-ALIGN:CENTER;
}
.FEATURED-POST{
FONT-FAMILY:ARIAL HELVETICA;
}
.FEATURED-POST H1{
text-align:center;
}
.POST{
DISPLAY:FLEX;
}
.CALENDER{
WIDTH:50PX;
HEIGHT:50PX;
BACKGROUND-COLOR:#333;
PADDING:10PX;
}
.CALENDER P{
FONT-SIZE:30PX;
FONT-FAMILY:COUNTURE;
TEXT-ALIGN:CENTER;
COLOR:ORANGE;
}
.CALENDER SPAN{
DISPLAY:BLOCK;
FONT-SIZE:16PX;
TEXT-ALIGN:CENTER;
TEXT-TRANSFORM:UPPERCASE;
COLOR:#FFF;
}
.DISH{
PADDING:10PX;
}
.DISH H6{
COLOR:darkorange;
MARGIN:10PX 0PX;
FONT-SIZE:16PX;
}
.DISH H1{
FONT-SIZE:24PX;
LETTER-SPACING:3PX;
}
.bottom{
margin:3% 10%;
padding-top:2%;
}
.bg{
background-color:rosybrown;
}
.LOAD-MORE{
TEXT-ALIGN:CENTER;
}
.LOAD-MORE A{
PADDING:5PX 20PX;
BORDER:2PX SOLID lightcoral;
MARGIN:20PX;
CURSOR:POINTER;
BACKGROUND-COLOR:moccasin;
BORDER-RADIUS:10PX;
BOX-SHADOW:2PX 2PX 2PX darkblue;
}
.poster {
padding-top:5%;
TEXT-ALIGN:CENTER;
}
.poster INPUT{
WIDTH:60%;
PADDING:10PX;
BORDER:2PX SOLID saddlebrown;

}
INPUT:FOCUS
{
BORDER :2PX SOLID lightseagreen;
OUTLINE:NONE;
}
.footer BUTTON{
TEXT-ALIGN:CENTER;
PADDING:5PX 20PX;
BORDER:2PX SOLID lightcoral;
MARGIN:20PX;
CURSOR:POINTER;
BACKGROUND-COLOR:moccasin;
BORDER-RADIUS:10PX;
BOX-SHADOW:2PX 2PX 2PX darkblue;
}
.footbg{
background-color:darkgray;
}
.foot{
background-color:white;
}
.botimage{
height:150px;
width:150px;
}

